#content{
    

    
    --background:linear-gradient(white,white,white,#8DF851);





}
#img1{

    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
}
.boton1{


    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
}