<ion-header>
  <ion-toolbar color="success">
    <ion-title>Proceso Administrativo</ion-title>
    <ion-button color="secundary"slot="start">

      <ion-back-button defauldHref="/home">
       

      </ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content id="content">


  <img  id="img1"src="../../assets/imagenes/calendario.png" alt="">

  
  <section>
   
   
    <ion-button class="boton1"color="success" expand="block"  (click)="goAgenda()">Citas</ion-button>
  </section>
  <section>
   
   
    <ion-button class="boton1"color="success" expand="block">Medicamentos</ion-button>
  </section>
  <section>
   
   
    <ion-button class="boton1"color="success" expand="block">Autorizaciones</ion-button>
  </section>



</ion-content>
