#content{
    

    
    --background:linear-gradient(white,white,#F9D387);





}
#imgsin{

    width:65%;
    margin-left: 17%;
    margin-top: 5%;
}
#imgsin2{
   width:70% ;
   margin-left: 16%;
   margin-top: 3%;


}
.cajas{

    color:black;
    --background:linear-gradient(white,#F9D387);
}
