.inicio{


    --background:linear-gradient(white,white,white,#8DF851);


}

.box{

    margin-top: 100px;
    width: 100%;
    
    margin:solid 2px;
    
}
.box2{

     width: 70%;
     margin-left: 15%;
     margin:solid 2px;


}
#udec{

   margin-top: 30%;
   

    
}
#una{

margin-left: 50%;
width: 40%;
margin-bottom: 10%;
display: block;
float: left;


}


ion-content {
    --ion-background-color: #ffffff;
}

.logo-container {
    width: 100%;
    height: 28%;

    img {
        width: 50%;
    }
}

.input-container {
    //   padding: 0 15px;
    margin: 35px 0;

    .ipt {
        width: 85%;
        border-radius: 30px;
        --background: #e6e6e6;
        --color: #51D962;
    }

    ion-icon {
        color: #51D962;
    }
}

ion-button {
    --background: #51D962;
    width: 85%;
    height: 45px;
}

.register {
    font-family: 'productSansT' !important;
}

@media only screen and (min-width: 1025px) {
    .logo-container {
        img {
            width: 25%;
        }
    }
}