<ion-header >
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  class="inicio">
  <form [formGroup]="loginForm" id="form">
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
      <ion-item lines='none' class='ipt'>
        <ion-input formControlName="email" placeholder='Username'></ion-input>
        <ion-icon name='person' slot='start'></ion-icon>
      </ion-item>
    </ion-row>
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
      <ion-item lines='none' class='ipt'>
        <ion-input formControlName="password" type='password' placeholder='* * * * * * * * * *'></ion-input>
        <ion-icon name='lock-closed' slot='start'></ion-icon>
      </ion-item>
    </ion-row>
    <!-- button login -->
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
      <ion-button (click)='login()' class='ion-text-uppercase' shape='round' expand='block'>login</ion-button>
    </ion-row>
    <!-- button login -->
    <!-- button register -->
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
      <ion-button routerLink='/register' class='register ion-text-uppercase' shape='round' expand='block'>Create account
      </ion-button>
    </ion-row>
    <!-- button register -->
  </form>
  


  <img id="udec"src="../../assets/imagenes/logoUnall.png" alt="">

  


 


   
    

  

</ion-content>