#avatar{

    width: 50%;
    height: 30%;
    margin-left: 22%;
}
#chip{

  margin-left: 30%;
  margin-top: 7%;
}

#item{
margin-top: 15%;



}
#cc{

    margin-left: 30%;
    color: black;
}
#content{
    

    
    --background:linear-gradient(white,white,white,#72C1F5);





}
#nom{
    color: black;
    font-weight: 700;
    margin-left: 10%;

}
#nom2{
  color: black;
  font-weight: 700;
  margin-left: 10%;

}
.ion-header{

    margin-bottom: 30%;
}
.my-custom-menu {
    --width: 500px;
  }
.boton{
width: 90%;
margin-left: 5%;
margin-top: 5%;



  }
  #cerrar{

    margin-right: 5%;
  
    
  }
  #cerrar:hover {
    background-color:#308CC1;
     
  }
 