

ion-content {
    --background:linear-gradient(white,white,white,#8DF851);
}

.logo-container {
    width: 100%;
    height: 28%
}

ion-item {
    --background: #fff;
    --color:#090a09;
    --border-color: #51D962;
    width: 85%
}

.input-container {
    height: 100px;
    position: relative
}

.check-container {
    flex-direction: row;
    height: 100px;
    position: relative;
    --background-checked:#51D962;
    margin: 0 15px 0 30px
}

ion-label {
    color:#090a09;
    font-size: 13px;
    width: 65%
}

.label-2 {
    width: 135px;
    padding-right: 50px
}

.label-3 {
    width: 160px;
    padding-right: 48px
}

.label-4 {
    width: 185px;
    padding-right: 25px
}

ion-button {
    --background: #51D962;
    width: 85%;
    height: 45px
}