<ion-header>
  <ion-toolbar color="success">
    <ion-title>registrar</ion-title>
    <ion-button style="width: 20%;"color="success"slot="start">
 
       <ion-back-button defauldHref="/home">
        
 
       </ion-back-button>
     </ion-button> 
 
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class='logo-container ion-justify-content-center ion-align-items-center'> <img style="width: 50%;"
    src='../../assets/imagenes/resgitro.png' alt='' /> </ion-row> <!-- logo -->
  <form [formGroup]='registerForm'>
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'> <span
        class='label-input ion-text-end'>Nombre</span>
      <ion-item class='ipt'>
        <ion-input formControlName='name' placeholder='Nombre con apellidos'></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'> <span
        class='label-input label-2 ion-text-end'>Email</span>
      <ion-item class='ipt'>
        <ion-input formControlName='email' placeholder='Correo electrónico'></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'> <span
        class='label-input label-3 ion-text-end'>Contraseña</span>
      <ion-item class='ipt'>
        <ion-input type='password' formControlName='password' placeholder='* * * * *'></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'> <span
        class='label-input label-4 ion-text-end'>Confirmar Contraseña</span>
      <ion-item class='ipt'>
        <ion-input type='password' formControlName='confirm' placeholder=' * * * * *'></ion-input>
      </ion-item>
    </ion-row>
    
    <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
      <!-- Boton de registro -->
      <ion-button (click)='register()' class='register ion-text-uppercase' shape='round' expand='block'>Create account
      </ion-button> <!-- Boton de registro -->
    </ion-row>
  </form> <!-- form register -->
</ion-content>
